.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

mat-toolbar.footer.mat-toolbar.mat-primary.mat-toolbar-multiple-rows {
    font-size: 14px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    display: block;
    padding: 12px;
    text-align: center;
}