.grid-container {
    margin: 20px;
  }

  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: initial;
    bottom: initial;
  }

  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  /*.dashboard-card-content {
    text-align: center;
  }*/

.mat-card-header {
    display: block;
    text-align: center;
}

.mat-card-footer {
  display: block;
  margin: 0;
  text-align: center;
}

.mat-card-header .mat-card-title, .mat-card-subtitle {
  font-size: 18px;
  font-weight: bold;
}