<!-- <mat-grid-list cols="2" rowHeight="100px">
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h1 class="mat-h1 text-center">{{title}}</h1>
          </mat-card-title>
        </mat-card-header>

      <mat-card-content>
        <div [chart]="chart"></div>
        sdfsdfsdfsdf dsfsdf sdfsdf
      </mat-card-content>

      <mat-card-actions>
        
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->

<mat-grid-list cols="2" rowHeight="500" *ngIf="!mobileQuery.matches">
  <mat-grid-tile>
    <mat-card class="dashboard-card">
      <mat-card-content class="dashboard-card-content">
        <div [chart]="lineChart"></div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="dashboard-card">
      <mat-card-content class="dashboard-card-content">
        <div [chart]="stockChart"></div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="dashboard-card">
      <mat-card-content class="dashboard-card-content">
        <div [chart]="pieChart"></div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="dashboard-card">
      <mat-card-content class="dashboard-card-content">
        <div [chart]="areaChart"></div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" rowHeight="500px" *ngIf="mobileQuery.matches">

  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-card class="dashboard-card">
      <mat-card-content class="dashboard-card-content">
        <div class="example-container">
          <div [chart]="stockChart"></div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-card class="dashboard-card">
      <mat-card-content class="dashboard-card-content">
        <div class="example-container">
          <div [chart]="lineChart"></div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-card class="dashboard-card">
      <mat-card-content class="dashboard-card-content">
        <div class="example-container">
          <div [chart]="pieChart"></div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-card class="dashboard-card">
      <mat-card-content class="dashboard-card-content">
        <div class="example-container">
          <div [chart]="areaChart"></div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>